/*------------------------------------*\
    # Add Joke
\*------------------------------------*/

.add-joke {
    margin: $xl-size 0 0 0;
}

.add-joke-error {
    color: $pink;
    font-style: italic;
    padding: 0 0 $m-size $m-size;
}