/*------------------------------------*\
    # Form
\*------------------------------------*/

.form {
    text-align: right;
}

.form__textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: $l-size;
    line-height: $l-size;
    resize: vertical;
    border: .4rem solid $violet;
    background: $white;
    box-shadow: $box-shadow;
    color: $violet;
}

.form__button {
    margin: $l-size 0 0 0;
}