/*------------------------------------*\
    # Header
\*------------------------------------*/

.header {
    text-align: center;
}

.header__title {
    font-family: $font-family-serif;
    font-size: $xl-size;
    text-shadow: $text-shadow;
    color: $yellow;
}

.header__nav-link {
    text-decoration: none;
    font-size: 2rem;
    padding: $s-size;
    color: $yellow;

    transition: $transition;

    &:hover,
    &:focus {
        color: $pink;
    }
}