/*------------------------------------*\
    # Home Page
\*------------------------------------*/

.home {
    margin: $xl-size 0 0 0;
}

.home__message {
    text-align: center;
    font-style: italic;
    margin: 0;
}