/*------------------------------------*\
    # Jokes
\*------------------------------------*/

.jokes {
    margin: $xl-size 0 0;
    padding: $l-size;
    background: $purple;
    box-shadow: $box-shadow;
}