/*------------------------------------*\
    # Jokes
\*------------------------------------*/

.jokes {
    margin: $xl-size 0 0;
    background: $purple;
    box-shadow: 0 .3rem .6rem rgba( 0, 0, 0, 0.16 ), 0 .3rem .6rem rgba( 0, 0, 0, 0.23 );
    padding: $l-size;
}
