/*------------------------------------*\
    # Joke
\*------------------------------------*/

.joke {
    display: flex;
    justify-content: space-between;
    margin: $l-size 0;
    padding: $l-size 0 $l-size 0;
    border-bottom: .1rem solid $violet;

    &:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.joke__text {
    line-height: $l-size;
    word-break: break-all;
    padding: 0;
    margin: 0;
}

.joke-controls__button {
    padding-left: $l-size;
    padding-right: 0;
}