/*------------------------------------*\
    # Modal
\*------------------------------------*/

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    outline: none;
    max-width: 36rem;
    padding: $l-size;
    background: $purple;
    color: $white;
}

.modal__body {
    font-size: 2rem;
    line-height: $l-size;
    word-break: break-all;
}

.modal__button {
    font-size: $m-size;
    text-transform: uppercase;
}