/*------------------------------------*\
    # Page
\*------------------------------------*/

.page {
    margin: $xl-size 0 0 0;
    line-height: $l-size;
}

.page__title {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.page__subtitle {
    font-size: 3rem;
}