/*------------------------------------*\
    # Simple Flash
\*------------------------------------*/

.flash-message {
    margin: 0 0 $l-size 0;
    padding: $l-size;
    font-weight: 300;
    font-style: italic;
    background: $violet;
    box-shadow: $box-shadow;
}