/*------------------------------------*\
    # Simple Flash
\*------------------------------------*/

.flash-message {
    background: $violet;
    padding: $l-size;
    margin: 0 0 $l-size 0;
    font-weight: 300;
    font-style: italic;
    box-shadow: 0 .3rem .6rem rgba( 0, 0, 0, 0.16 ), 0 .3rem .6rem rgba( 0, 0, 0, 0.23 );
}