/*------------------------------------*\
    # Settings
\*------------------------------------*/

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700|Staatliches&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Aleo:700&subset=latin-ext');

// Colors
$off-blue: #724CF9;
$purple: #564592;
$violet: #CA7DF9;
$pink: #F896D8;
$yellow: #EDF67D;
$white: #F5F5F5;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 8.8rem;

// Breakpoints
$desktop-breakpoint: 50rem;